@charset "UTF-8";

#mainWrap{padding: 50px 0;}

/* 폼 영역 */
#formInfoWrap .formInfoBox{padding: 38px 0; display: flex; justify-content: center; gap: 50px 0; box-shadow: 0 10px 20px rgba(0, 0, 0, .1); border-radius: 20px; background-color: #fff4f3;}
#formInfoWrap .formSlideInfoBox{padding: 0 20px; position: relative; width: 65%; margin-top: 25px;}
#formInfoWrap .formSlideInfoBox .insuranceSlideTitle{color: #ee2d21; font-size: 20px; text-align: center;}
#formInfoWrap .formSlideInfoBox .insuranceProductName{margin-bottom: 8px; color: #7b71e3; font-size: 26px; text-align: center; word-break: keep-all;}
#formInfoWrap .formSlideInfoBox img{display: block; margin: 30px auto; width: 120px;}
#formInfoWrap .formSlideInfoBox .insuranceSlideSummary{font-size: 20px; text-align: center;}
#formInfoWrap .formSlideInfoBox .insuranceSlideDescription{font-size: 18px; text-align: center;}
#formInfoWrap .formSlideInfoBox .slick-slider{position: static;}
#formInfoWrap .slick-dots{position: absolute; left: 50%; transform: translateX(-50%); bottom: 0; display: flex; gap: 0 8px; align-items: center; justify-content: center; width: 100%;}
#formInfoWrap .slick-dots li.slick-active button{background-color: #ee2d21;}
#formInfoWrap .slick-dots li button{display: block; width: 8px; height: 8px; text-indent: -9999px; border-radius: 50%; background-color:#ddd; cursor: pointer;}
#formInfoWrap .formInputBox .formUserInfoBox{display: flex; align-items: center; gap: 0 15px;}
#formInfoWrap .formInputBox{width: 35%; padding:0 20px; }
#formInfoWrap .formInputBox h2{margin-bottom: 20px; font-size: 18px; text-align: center; color: #000;}
#formInfoWrap .formInputBox .formBox{margin-bottom: 15px;}
#formInfoWrap .formInputBox .formBox:last-child{margin-bottom: 0;}
#formInfoWrap .formInputBox .genderSelectBox{width: 40%; display: flex;}
#formInfoWrap .formInputBox .genderSelectBox .inputRadioBox{flex: 1; height: 50px;}
#formInfoWrap .formInputBox .genderSelectBox label{display: flex; width: 100%; height: 100%; align-items: center; justify-content: center; background-color: #fff; cursor: pointer; font-weight: 300; border-radius: 8px; }
#formInfoWrap .formInputBox .genderSelectBox input:checked + label{font-weight: 700; border: 2px solid #ee2d21;}
#formInfoWrap .formInputBox .detailViewBtn{font-size: 14px; text-decoration: underline; color: #0e6ca5; line-height: 1;}
#formInfoWrap .formInputBox .inputCheckBox{margin-bottom: 20px; display: flex; justify-content: center; align-items: center; gap: 10px;}
#formInfoWrap .formInputBox .formBtn{display: flex; align-items: center; justify-content: center; width: 100%; height: 50px; background-color: #ee2d21; color: #fff; border-radius: 8px;}

@media (max-width: 1024px){

  #formInfoWrap .formInfoBox{flex-direction: column; gap: 80px 0;}
  #formInfoWrap .formSlideInfoBox{width: 100%;}
  #formInfoWrap .slick-dots{margin-top: 50px; position: static; transform: none;}
  #formInfoWrap .formInputBox{width: 100%;}
  #formInfoWrap .formInputBox .inputTextBox{flex: 1;}
  #formInfoWrap .formInputBox .genderSelectBox{width: 26%;;}

}

@media (max-width: 768px){

  #formInfoWrap .formSlideInfoBox .insuranceSlideTitle,
  #formInfoWrap .formSlideInfoBox .insuranceSlideSummary{font-size: 18px;}
  #formInfoWrap .formSlideInfoBox .insuranceProductName{font-size: 22px;}
  #formInfoWrap .formSlideInfoBox .insuranceSlideDescription{font-size: 16px;}

}


@media (max-width: 480px){

  #formInfoWrap .formSlideInfoBox .insuranceSlideTitle,
  #formInfoWrap .formSlideInfoBox .insuranceSlideSummary{font-size: 16px;}
  #formInfoWrap .formSlideInfoBox .insuranceProductName{font-size: 20px;}
  #formInfoWrap .slick-dots{margin-top: 30px;}

}

/* 보험상품 영역 */
#insuranceProductWrap{padding: 100px 0 50px;}
#insuranceProductWrap h3{display: flex; flex-wrap: wrap; align-items: center; gap:8px; margin-bottom: 40px;}
#insuranceProductWrap h3 img{display: block; width: 200px;}
#insuranceProductWrap h3 strong{position: relative; top: 4px; color: #000; font-size: 18px;}
#insuranceProductWrap .insuranceProductList{display: grid; grid-template-columns: repeat(3, 1fr); gap: 35px;}
#insuranceProductWrap .insuranceProductList li a{display: block; padding: 30px 20px; border-radius: 8px; background-color: #eee;}
#insuranceProductWrap .insuranceProductList li a .insuranceProductMeta{display: flex; gap: 5px;}
#insuranceProductWrap .insuranceProductList li a .insuranceProductMeta span{color: #000; font-weight: 700;}
#insuranceProductWrap .insuranceProductList li a .insuranceProductMeta strong{color: #9281e6;}
#insuranceProductWrap .insuranceProductList li a h4{margin-bottom: 35px; font-size: 20px; color: #ee2d21;}
#insuranceProductWrap .insuranceProductList li a p{font-weight: 500;}
#insuranceProductWrap .insuranceProductList li a.caregiverProduct{background-color: #feccbe;}
/* #insuranceProductWrap .insuranceProductList li a.simplifiedHealthProduct{}
#insuranceProductWrap .insuranceProductList li a.healthProduct{}
#insuranceProductWrap .insuranceProductList li a.dentalProduct{}
#insuranceProductWrap .insuranceProductList li a.driverFireProduct{} */
#insuranceProductWrap .insuranceProductList li a.petProduct{background-color: #feefc5;}

@media (max-width: 1024px){

  #insuranceProductWrap .insuranceProductList{grid-template-columns: repeat(2, 1fr); gap: 20px;}

}

@media (max-width: 768px){

  #insuranceProductWrap .insuranceProductList li a h4{font-size: 18px;}
  #insuranceProductWrap h3 strong{top: 5px; font-size: 16px;}

}

@media (max-width: 480px){

   #insuranceProductWrap .insuranceProductList{grid-template-columns: 1fr;}
   #insuranceProductWrap h3 img{width: 170px;}

}