@charset "UTF-8";

/* 보험상품 영역 */
#insuranceProductWrap{padding: 100px 0 50px;}
#insuranceProductWrap h3{display: flex; flex-wrap: wrap; align-items: center; gap:8px; margin-bottom: 40px;}
#insuranceProductWrap h3 img{display: block; width: 200px;}
#insuranceProductWrap h3 strong{position: relative; top: 4px; color: #000; font-size: 18px;}
#insuranceProductWrap .insuranceProductList{display: grid; grid-template-columns: repeat(3, 1fr); gap: 35px;}
#insuranceProductWrap .insuranceProductList li a{display: block; padding: 30px 20px; border-radius: 8px; background-color: #eee;}
#insuranceProductWrap .insuranceProductList li a .insuranceProductMeta{display: flex; gap: 5px;}
#insuranceProductWrap .insuranceProductList li a .insuranceProductMeta span{color: #000; font-weight: 700;}
#insuranceProductWrap .insuranceProductList li a .insuranceProductMeta strong{color: #9281e6;}
#insuranceProductWrap .insuranceProductList li a h4{margin-bottom: 35px; font-size: 20px; color: #ee2d21;}
#insuranceProductWrap .insuranceProductList li a p{font-weight: 500;}
#insuranceProductWrap .insuranceProductList li a.caregiverProduct{background-color: #feccbe;}
/* #insuranceProductWrap .insuranceProductList li a.simplifiedHealthProduct{}
#insuranceProductWrap .insuranceProductList li a.healthProduct{}
#insuranceProductWrap .insuranceProductList li a.dentalProduct{}
#insuranceProductWrap .insuranceProductList li a.driverFireProduct{} */
#insuranceProductWrap .insuranceProductList li a.petProduct{background-color: #feefc5;}

@media (max-width: 1024px){

  #insuranceProductWrap .insuranceProductList{grid-template-columns: repeat(2, 1fr); gap: 20px;}

}

@media (max-width: 768px){

  #insuranceProductWrap .insuranceProductList li a h4{font-size: 18px;}
  #insuranceProductWrap h3 strong{top: 5px; font-size: 16px;}

}

@media (max-width: 480px){

   #insuranceProductWrap .insuranceProductList{grid-template-columns: 1fr;}
   #insuranceProductWrap h3 img{width: 170px;}

}